

<!doctype html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'Images/Logo11.png'%}" rel="icon" sizes="32x32" type="image/gif">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="{% static 'css/Profiles_style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Different Fonts ## refer to css file -->
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Kaipara Security Services Ltd.</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        setTimeout(function () {
            if($('.messages').length > 0){
                $('.messages').remove();
            }
        },4000)
    </script>
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top navbar-dark bg-dark">

        <a class="navbar-brand" href="{% url 'account:index'%}">
          <img src="{% static 'Images/Logo11.png' %}" width="110" height="110" class="d-inline-block align-top" alt="" loading="lazy">

        </a>

      <!--<a class="navbar-brand" href="#">Company Name</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'account:admin_dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'account:assignedOrders' %}">Assigned Jobs</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:admintimesheet'%}">Manage Timesheets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:pickuporder'%}">Equip Pick up</a>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'account:BookSecurity'%}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" href="{% url 'account:adminemployeepage'%}">Manage Employee</a>
              <a class="dropdown-item" href="{% url 'account:adminmanageleave'%}">Manage Leaves</a>
                <a class="dropdown-item" href="{% url 'account:managePortal'%}">Learning Portal</a>
                <a class="dropdown-item" href="#">Manage Equipments</a>
                <a class="dropdown-item"href="#">Manage Services</a>
            </div>
            </li>

        </ul>
       <span class="form-inline my-2 my-lg-0" style="color: #34987a;">
          <div> {% if request.user.is_authenticated %}
            Hello, {{ request.user }}
          </div>
       <a href="{% url 'account:logout' %}">
        <button class="btn btn-link my-2 my-sm-0" style="margin: 10px;">logout</button>
      </a>

              {% else %}
              <a href="{% url 'account:login' %}">
        <button class="btn btn-link my-2 my-sm-0" style="margin: 10px;">Login</button>
      </a>

          {% endif %}

      </span>
      </div>
    </nav>
   <div class="container">
<h2 style="padding: 30px 0px;">Manage Employee</h2>
   {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        <h1>{{ message }}</h1>
    </li>
    {% endfor %}

<table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Employee Name</th>
       <th>Address</th>
        <th>Group</th>
          <th>View</th>

      </tr>
    </thead>
    <tbody>

    {% for i in member %}
      <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.employee_user.first_name }} {{ i.employee_user.last_name }}</td>
        <td>{{ i.address }}</td>
        <td>{{ i.group }}</td>

      <td> <a href="{{ i.get_absolute_url }}"> <button class="btn text-primary">View Staff</button></a></td>
      </tr>


    {% endfor %}
          </tbody>
  </table>


<a href="{% url 'account:staffregister' %}">Add Employee Account</a>


</div>
  <footer class="footer bg-dark">
      <p>&#169;2020 Kaipara Security Services Ltd. | All Rights Reserved  </p>
  </footer>
   </div>
</body>
</html>