{% load static %}
{% block content %}



{{ form.media }}
    <link href="{% static 'css/google-map-admin.css'%}" rel="stylesheet" type="text/css">
{#<style>#}
{#.map_canvas_wrapper{margin-left: 0px}#}
{##map_canvas{width: 20%;height: 20em}#}
{#</style>#}


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<form action="" method="POST">
				{% csrf_token %}
				Employee :{{ form.employee_order}}<br><br>
                Address :{{ form.address }}
                {{ form.geolocation.as_hidden }}



				<input type="submit" name="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}