<!doctype html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="{% static 'css/Profiles_style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Different Fonts ## refer to css file -->
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Kaipara Security Services Ltd.</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

      <script>
        setTimeout(function () {
            if($('.messages').length > 0){
                $('.messages').remove();
            }
        },5000)
    </script>
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top navbar-dark bg-dark">

        <a class="navbar-brand" href="{% url 'account:admin_dashboard'%}">
          <img src="{% static 'Images/Logo11.png' %}" width="110" height="110" class="d-inline-block align-top" alt="" loading="lazy">

        </a>

      <!--<a class="navbar-brand" href="#">Company Name</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'account:admin_dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'account:assignedOrders' %}">Assigned Jobs</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:admintimesheet'%}">Manage Timesheets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:pickuporder'%}">Equip Pick up</a>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Manage Employee</a>
              <a class="dropdown-item" href="#">Manage Leaves</a>
                <a class="dropdown-item" href="#">Learning Portal</a>
                <a class="dropdown-item" href="#">Manage Equipments</a>
                <a class="dropdown-item"href="#">Manage Services</a>

            </div>
          </li>
        </ul>
        <span class="form-inline my-2 my-lg-0">
          <a href="{% url 'account:index'%}">
            <button class="btn btn-link my-2 my-sm-0"  type="submit">Back to Mainpage</button>
          </a>
         <a href="#">
          <button class="btn btn-link my-2 my-sm-0"  type="submit"><img src="{% static 'Images/logout.png'%}" height="40px;margin-right:15px;"></button>
        </a>
         
        </span>
      </div>
    </nav>
   <div class="container">
          {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        <h1>{{ message }}</h1>
    </li>
    {% endfor %}
</ul>
{% endif %}
       <h4 style="padding-bottom: 20px;">Assigned Property Jobs</h4>
       <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Customer</th>
          <th>Request</th>
       <th>Address</th>
        <th>Required Date</th>
        <th>Payment</th>
        <th>Comments</th>
          <th>Job Status</th>
        <th>Assign To</th>
      </tr>
    </thead>
    <tbody>
                    {% for i in object %}
           {% if i.employee_order %}
               {% for a in i.propertyorder_set.all %}

      <tr>
        <td>{{ i }}</td>
        <td>{{i.cus_order.cus_user.first_name}}</td>
      <td>{{ a.property_service }}</td>
        <td>{{i.address}}</td>
        <td>{{ a.date_required }}</td>
        <td>
              {% if i.isPaid == False and i.latepayment == False %}
                            <span class="text-warning">Pending</span>
                             {% elif i.isPaid == False and i.latepayment == True %}
                                <span class="text-danger">Expreid</span>
                             {% else %}
                                <span class="text-success">Paid</span>
                         {% endif %}
        </td>
        <td>{{ a.notes }}</td>
        <td>
            {% if i.isDone == True %}
                Finished
            {% else %}
                On Going
            {% endif %}
        </td>
      <td>{{ i.employee_order.employee_user.first_name }}</td>
      <td> <a href="{% url 'account:admindeleteorder' i.id %}"> <button class="btn text-primary">Cancel</button></a></td>
      </tr>


                   {% endfor %}
           {% endif %}
       {% endfor %}
          </tbody>
  </table>

   <h4 style="padding-bottom: 20px;">Assigned Security Jobs</h4>
       <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Customer</th>
          <th>Request</th>
       <th>Address</th>
        <th>Required Date</th>
        <th>Payment</th>
        <th>Comments</th>
          <th>Job Status</th>
        <th>Assign To</th>
      </tr>
    </thead>
    <tbody>
        {% for i in object %}
           {% if i.employee_order %}
               {% for a in i.securityorder_set.all %}

      <tr>
        <td>{{ i }}</td>
        <td>{{i.cus_order.cus_user.first_name}}</td>
        <td>{{ a.security_service }}</td>
        <td>{{i.address}}</td>
        <td>{{ a.date_required }}</td>
        <td>
              {% if i.isPaid == False and i.latepayment == False %}
                            <span class="text-warning">Pending</span>
                             {% elif i.isPaid == False and i.latepayment == True %}
                                <span class="text-danger">Expreid</span>
                             {% else %}
                                <span class="text-success">Paid</span>
                         {% endif %}
        </td>
        <td>{{ a.notes }}</td>
      <td>
            {% if i.isDone == True %}
                Finished
            {% else %}
                On Going
            {% endif %}
        </td>
    <td>{{ i.employee_order.employee_user.first_name }}</td>
      <td> <a href="{% url 'account:admindeleteorder' i.id %}"> <button class="btn text-primary">Cancel</button></a></td>
      </tr>


                   {% endfor %}
           {% endif %}
       {% endfor %}
          </tbody>
  </table>

    <h4 style="padding-bottom: 20px;">New Hiring orders</h4>
                    <div>
   <table class="table table-hover">

    <thead>
      <tr class="table-secondary">
        <!--<th></th>-->
        <th>Id</th>
        <th>Customer</th>
       <th>Address</th>
        <th>Delivery Date</th>
          <th>Equipment</th>
        <th>Payment</th>
          <th>Job Status</th>
        <th>Assign To</th>
      </tr>
    </thead>

    <tbody>
    {% for hiring in hiringorders %}
            {% if hiring.employee_order %}
                {% if hiring.isDelivery %}

      <tr>
        <!--<td><input type="checkbox" id="checkme"/></td>-->
        <td>{{ hiring.id }}</td>
        <td>{{hiring.cus_order.cus_user.first_name}}</td>
        <td>{{ hiring.address }}</td>
        <td>{{ hiring.date_order }}</td>
       <td>
          {% for i in hiring.cartitem_set.all %}
              {{ i.equipment }}X{{ i.quantity }}<br>
          {% endfor %}
      </td>
        <td>{% if hiring.isPaid == False and hiring.latepayment == False %}
                                <span class="text-warning">Pending</span>
                                 {% elif hiring.isPaid == False and hiring.latepayment == True %}
                                    <span class="text-danger">Expreid</span>
                                 {% else %}
                                    <span class="text-success">Paid</span>
                             {% endif %}</td>
        <td>
            {% if hiring.isDone == True %}
                Finished
            {% else %}
                On Going
            {% endif %}</td>
      <td>{{ hiring.employee_order.employee_user.first_name }}</td>
      <td>  <a href="{% url 'account:admindeletehiringorder' hiring.id %}"> <button class="btn text-primary">Cancel</button></a></td>
      </tr>
    {% endif %}
            {% endif %}
        {% endfor %}

          </tbody>

  </table>



       
</div>
  <footer class="footer bg-dark">
      <p>&#169;2020 Kaipara Security Services Ltd. | All Rights Reserved  </p>
  </footer>
</body>
</html>