<!doctype html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'Images/Logo11.png'%}" rel="icon" sizes="32x32" type="image/gif">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="{% static 'css/Profiles_style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Different Fonts ## refer to css file -->
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Kaipara Security Services Ltd.</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top navbar-dark bg-dark">

        <a class="navbar-brand" href="{% url 'account:index'%}">
          <img src="{% static 'Images/Logo11.png' %}" width="110" height="110" class="d-inline-block align-top" alt="" loading="lazy">

        </a>

      <!--<a class="navbar-brand" href="#">Company Name</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'account:admin_dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'account:assignedOrders' %}">Assigned Jobs</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:admintimesheet'%}">Manage Timesheets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:pickuporder'%}">Equip Delivery</a>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'account:BookSecurity'%}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'account:adminemployeepage'%}">Manage Employee</a>
              <a class="dropdown-item" href="{% url 'account:adminmanageleave'%}">Manage Leaves</a>
                <a class="dropdown-item" href="{% url 'account:managePortal'%}">Learning Portal</a>
                <a class="dropdown-item" href="#">Manage Equipments</a>
                <a class="dropdown-item"href="#">Manage Services</a>
            </div>
            </li>

        </ul>
        <span class="form-inline my-2 my-lg-0" style="color: #34987a;">
          <div> {% if request.user.is_authenticated %}
            Hello, {{ request.user }}
          </div>
       <a href="{% url 'account:logout' %}">
        <button class="btn btn-link my-2 my-sm-0" style="margin: 10px;">logout</button>
      </a>

              {% else %}
              <a href="{% url 'account:login' %}">
        <button class="btn btn-link my-2 my-sm-0" style="margin: 10px;">Login</button>
      </a>

          {% endif %}

      </span>
      </div>
    </nav>
   <div class="container" style="margin: 40px auto;">




       <h4 style="padding-bottom: 20px;">Leave Requests</h4>
         <table class="table table-hover">
    <thead>
      <tr>
        <th>Staff Name</th>
        <th>Start Date</th>
          <th>End Date</th>
       <th>Leave Type</th>
          <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>


        {% for i in object %}
      <tr>
        <td>{{ i.staff.employee_user.first_name }} {{ i.staff.employee_user.last_name }}</td>
        <td>{{i.StartDate}}</td>
          <td>{{i.EndDate}}</td>
          <td>{{i.note}}</td>
          <td>
                {% if i.isApproval == False and i.isReject == False %}
                        Pending
                    {% elif i.isApproval == True %}
                        Approval
                    {% elif i.isReject == True %}
                        Reject
                {% endif %}
            </td>
      <td class="row">
          {% if i.isApproval or i.isReject %}
              --
              {% else %}
                <a class="text-info" href="{{ i.approval }}">Approve </a>
                {% endif %}


        <p> &nbsp;/ &nbsp;</p>
           {% if i.isApproval or i.isReject %}
              --
              {% else %}
                <a class="text-danger" href="{{ i.reject }}"> Reject</a>
          {% endif %}

       </td>
      </tr>

    {% endfor %}
          </tbody>
  </table>

</div>
  <footer class="footer bg-dark">
      <p>&#169;2020 Kaipara Security Services Ltd. | All Rights Reserved  </p>
  </footer>

</body>
</html>