<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <link href="{% static 'Images/logo.png'%}" rel="icon" sizes="32x32" type="image/gif">
      <title>Kaipara Security Services Ltd.</title>
      <link href="{% static 'css/Style.css'%}" rel="stylesheet" type="text/css">
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <link href="BOOTSTRAP.CSS" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
    </head>
    <body>
{#        <div class="wrappers">#}
{#          <div class="four">#}
{#            <a href="{% url 'account:index' %}"><img src="{% static 'Images/logo.png'%}" style="height:250px;"></a>#}
{#          </div>#}
{#            <div class="five">#}
{#              <ul class="list">#}
{#                <li class="email"><a  href="mailto:admin@kaipara.co.nz">admin@kaipara.co.nz</a></li></br>#}
{#                <li class="phone"><a href="tel:+64 800 524 7272">+64 0800 524 7272</a></li>#}
{#              </ul>#}
{#          </div>#}
{#        </div>#}
{#          <div id="navbar">#}
{#            <a href="{% url 'account:About' %}"><button type="button" class="button">About us</button></a>#}
{#            <div class="dropdown">#}
{#                <a href="{% url 'account:Security' %}"><button class="button dropbtn">Security</button></a>#}
{#                <div class="dropdown-content">#}
{#                  <a  class="a-link" href="{% url 'account:About' %}">Event Security</a>#}
{#                  <a class="a-link" href="#">Personal Security</a>#}
{#                  <a class="a-link" href="#">Concierge Services</a>#}
{#                </div>#}
{#            </div>#}
{#            <a href="#"><button type="button" class="button">Property Management</button></a>#}
{#            <a href="{% url 'account:preHire'%}"><button type="button" class="button">Hire Equipement</button></a>#}
{#           #}
{#            <a href="{% url 'account:contact'%}"><button type="button" class="button">Contact us</button></a>#}
{#            <div class="dropdown">#}
{#              <button class="button dropbtn">Book a service</button>#}
{#              <div class="dropdown-content">#}
{#                <a  class="a-link" href="{% url 'account:BookJob'%}">Security Job</a>#}
{#                <a class="a-link" href="{% url 'account:PropertyMaintenance'%}">Property Management</a>#}
{#              </div>#}
{#          </div>#}
{#              <a href="#"><button type="button" class="button" style="float: right;margin-right:150px ;">Login</button></a>#}
{#        </div><br><br>#}
<script type="text/javascript">
    var user = '{{ request.user }}'

    function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')
</script>
{% block content %}
    <form class="form-control" method="post" action="/checkout/">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a href="{% url 'account:HireEquipement' %}">Continue shopping</a>
                <br>
                <table class="table">
                    <tr>
                        <th><h5>Items</h5><strong>{{ order.get_absolute_url }}</strong></th>
                        <th><h5>Total</h5><strong>${{ order.get_cart_total }}</strong></th>
                        <th>
{#                            <a style="float: right;margin: 5px" href="{% url 'account:cart' %}">checkout</a>#}


                            <button type="submit">checkout</button>
                        </th>
                    </tr>
                </table>
            </div>

            <br>

            <div class="box-element">
                <div class="cart-row">
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
                {% for item in equipments %}
                <div class="cart-row">
					<div style="flex:2">{{ item.equipment.name }}</div>
					<div style="flex:1">{{ item.equipment.price }}</div>
					<div style="flex:1">
                        <div><button data-equipment="{{ item.equipment.id }}" data-action="add"  class="update-cart">+</button></div>
                                {{ item.quantity }}
                        <div><button data-equipment="{{ item.equipment.id }}" data-action="remove"  class="update-cart">-</button></div>
                        <div><button data-equipment="{{ item.equipment.id }}" data-action="delete"  class="update-cart">remove</button></div>
                    </div>
					<div style="flex:1"><p>{{ item.get_total }}</p></div>
				</div>
                {% endfor %}


                    leash date:<input id="leashdate" type="datetime-local" name="ld" required/><br>
                    return date:<input type="datetime-local" name="rd" required/><br>

                      <input type="checkbox" id="scales" name="box">
                      <label for="scales">Scales</label>

                </div>
            </div>
        </div>
    </div>
    </form>
    <script type="text/javascript" src="{% static 'js/car2t.js' %}"></script>
{% endblock content %}