{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script type="text/javascript">
    var user = '{{ request.user }}'

    function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')
</script>
{% block content %}
    <form class="form-control" method="post" action="/checkout/">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a href="{% url 'account:HireEquipement' %}">Continue shopping</a>
                <br>
                <table class="table">
                    <tr>
                        <th><h5>Items</h5><strong>{{ order.get_absolute_url }}</strong></th>
                        <th><h5>Total</h5><strong>${{ order.get_cart_total }}</strong></th>
                        <th>
{#                            <a style="float: right;margin: 5px" href="{% url 'account:cart' %}">checkout</a>#}


                            <button type="submit">checkout</button>
                        </th>
                    </tr>
                </table>
            </div>

            <br>

            <div class="box-element">
                <div class="cart-row">
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
                {% for item in equipments %}
                <div class="cart-row">
					<div style="flex:2">{{ item.equipment.name }}</div>
					<div style="flex:1">{{ item.equipment.price }}</div>
					<div style="flex:1">
                        <div><button data-equipment="{{ item.equipment.id }}" data-action="add"  class="update-cart">+</button></div>
                                {{ item.quantity }}
                        <div><button data-equipment="{{ item.equipment.id }}" data-action="remove"  class="update-cart">-</button></div>
                        <div><button data-equipment="{{ item.equipment.id }}" data-action="delete"  class="update-cart">remove</button></div>
                    </div>
					<div style="flex:1"><p>{{ item.get_total }}</p></div>
				</div>
                {% endfor %}


                    leash date:<input id="leashdate" type="datetime-local" name="ld" required/><br>
                    return date:<input type="datetime-local" name="rd" required/><br>

                      <input type="checkbox" id="scales" name="box">
                      <label for="scales">Scales</label>

                </div>
            </div>
        </div>
    </div>
    </form>
    <script type="text/javascript" src="{% static 'js/car2t.js' %}"></script>
{% endblock content %}