<!doctype html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="{% static 'css/Profiles_style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Different Fonts ## refer to css file -->
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Kaipara Security Services Ltd.</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script>
        setTimeout(function () {
            if($('.messages').length > 0){
                $('.messages').remove();
            }
        },5000)
    </script>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top navbar-dark bg-dark">

        <a class="navbar-brand" href="{% url 'account:employee_dashboard'%}">
          <img src="{% static 'Images/Logo11.png' %}" width="110" height="110" class="d-inline-block align-top" alt="" loading="lazy">

        </a>

      <!--<a class="navbar-brand" href="#">Company Name</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'account:employee_dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:employeeJobs'%}">Assigned Jobs</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:employeeTimesheet'%}">Timesheet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Equipment Delivery</a>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Manage Profile</a>
                <a class="dropdown-item" href="#">Learning Portal</a>

            </div>
          </li>
        </ul>
        <span class="form-inline my-2 my-lg-0">
            <a href="{% url 'account:index'%}">
                <button class="btn btn-link my-2 my-sm-0"  type="submit">Back to Mainpage</button>
              </a>
         <a href="#">
          <button class="btn btn-link my-   2 my-sm-0"  type="submit"><img src="{% static 'Images/logout.png'%}" height="45px;"></button>
        </a>
        
        </span>
      </div>
    </nav>

   <div class="container">
           {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        <h1>{{ message }}</h1>
    </li>
    {% endfor %}
</ul>
{% endif %}
       <h3 style="padding: 30px 0px;">On going jobs</h3>
       {% for order in orders %}
           {% if order.complete == True and order.assigned == True and order.isDone == False%}
               {% for a in order.securityorder_set.all %}
                    <div class="card mb-3 shadow-sm p-3 mb-5 rounded w-75">
        <div class="card-body">
            <h5 class="card-title">Order ID: {{order.id}}</h5>

            <p class="card-text"><small class="text-muted">Date & time: {{ a.date_required }}</small></p>
            <p class="card-text"><small class="text-muted">Name of client: {{ order.cus_order.cus_user.first_name }} </small></p>
            <p class="card-text"><small class="text-muted">Address: {{ order.address }}</small></p>
            <p class="card-text"><small class="text-muted">Job Request: {{ a.security_service }}</small></p>

            <a class="jobDesc" target="_blank" href="https://www.google.com/maps/place/{{ order.geolocation }}"><img src="{% static 'Images/location.png'%}"></a>
            <a class="jobDesc" href="{{ order.done_job_url }}"><button class="btn text-success">Done Job</button></a>

        </div>
      </div>
               {% endfor %}
               {% for b in order.propertyorder_set.all %}
                    <div class="card mb-3 shadow-sm p-3 mb-5 rounded w-75">
        <div class="card-body">
            <h5 class="card-title">Order ID: {{order.id}}</h5>

            <p class="card-text"><small class="text-muted">Date & time: {{ b.date_required }}</small></p>
            <p class="card-text"><small class="text-muted">Name of client: {{ order.cus_order.cus_user.first_name }} </small></p>
            <p class="card-text"><small class="text-muted">Address: {{ order.address }}</small></p>
            <p class="card-text"><small class="text-muted">Job Request: {{ b.property_service }}</small></p>

            <a class="jobDesc" target="_blank" href="https://www.google.com/maps/place/{{ order.geolocation }}"><img src="{% static 'Images/location.png'%}"></a>
            <a class="jobDesc" href="{{ order.done_job_url }}"><button class="btn text-success">Done Job</button></a>

        </div>
      </div>
               {% endfor %}
           {% endif %}
       {% endfor %}

        {% for order in hiring %}
           {% if order.complete == True and order.assigned == True and order.isDone == False%}
                <div class="card mb-3 shadow-sm p-3 mb-5 rounded w-75">
        <div class="card-body">
        <h5 class="card-title">Order ID: {{order.id}}</h5>
            <p class="card-text"><small class="text-muted">Date & time: {{ order.date_order }}</small></p>
            <p class="card-text"><small class="text-muted">Name of client: {{ order.cus_order.cus_user.first_name }} </small></p>
            <p class="card-text"><small class="text-muted">Address: {{ order.address }}</small></p>
            <p class="card-text"><small class="text-muted">Equipment: {% for a in order.cartitem_set.all %}{{ a.equipment }}X{{ a.quantity }}{% endfor %}</small></p>

            <a class="jobDesc" target="_blank" href="https://www.google.com/maps/place/{{ order.geolocation }}"><img src="{% static 'Images/location.png'%}"></a>
            <a class="jobDesc" href="{{ order.done_job_url }}"><button class="btn text-success">Done Job</button></a>

        </div>
      </div>
           {% endif %}
       {% endfor %}

        <h3 style="padding: 30px 0px;">Has done jobs</h3>
        {% for order in orders %}
             {% if order.complete == True and order.assigned == True and order.isDone == True%}
                 {% for a in order.propertyorder_set.all %}
                    <div class="card mb-3 shadow-sm p-3 mb-5 rounded w-75">
        <div class="card-body">
            <h5 class="card-title">Order ID:{{order.id}}</h5>
            <p class="card-text" style="padding-bottom: 10px;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Date & time: {{ a.date_required }}</small></p>
            <p class="card-text"><small class="text-muted">Name of client: {{ order.cus_order.cus_user.first_name }} </small></p>
            <p class="card-text"><small class="text-muted">Job Request: {{ a.property_service }}</small></p>
            <a class="jobDesc" href="{{ order.employee_feedback_url }}"><button class="btn text-danger">Feedback</button></a>
        </div>
      </div>
                 {% endfor %}
                 {% for b in order.securityorder_set.all %}
                    <div class="card mb-3 shadow-sm p-3 mb-5 rounded w-75">
        <div class="card-body">
            <h5 class="card-title">Order ID:{{order.id}}</h5>
            <p class="card-text" style="padding-bottom: 10px;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Date & time: {{ b.date_required }}</small></p>
            <p class="card-text"><small class="text-muted">Name of client: {{ order.cus_order.cus_user.first_name }} </small></p>
             <p class="card-text"><small class="text-muted">Job Request: {{ b.security_service }}</small></p>
            <a class="jobDesc" href="{{ order.employee_feedback_url }}"><button class="btn text-danger">Feedback</button></a>
        </div>
      </div>
                 {% endfor %}
            {% endif %}
        {% endfor %}

   {% for order in hiring %}
             {% if order.complete == True and order.assigned == True and order.isDone == True%}
                <div class="card mb-3 shadow-sm p-3 mb-5 rounded w-75">
        <div class="card-body">
            <h5 class="card-title">{{order.id}}</h5>
            <p class="card-text" style="padding-bottom: 10px;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Date & time: {{ order.server_date }}</small></p>
            <p class="card-text"><small class="text-muted">Name of client: {{ order.cus_order.cus_user.first_name }} </small></p>
            <p class="card-text"><small class="text-muted">Address: {{ order.address }}</small></p>

        </div>
      </div>
            {% endif %}
        {% endfor %}
      
       
</div>
  <footer class="footer bg-dark">
      <p>&#169;2020 Kaipara Security Services Ltd. | All Rights Reserved  </p>
  </footer>
</body>
</html>