<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link href="{% static 'Images/logo.png'%}" rel="icon" sizes="32x32" type="image/gif">
        <title>Kaipara Security Services Ltd.</title>
        <link href="{% static 'css/Style.css'%}" rel="stylesheet" type="text/css">
        <link href="EquipStyle.css" rel="stylesheet" type="text/css">
        <script src="store.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="header">
            <a href="{% url 'account:index'%}"><img src="{% static 'Images/logo.png'%}" style="height:250px;"></a>

            <h3 class="header-contact"><img src="{% static 'Images/Call.png' %}" style="height: 25px;">0800 123 4567</h3>

            <h3 class="header-contact"><img src="{% static 'Images/mail.png' %}" style="height: 25px; padding-right: 5px;">admin@onestopshop.com</h3>
          </div>
          <div id="navbar">
            <a href="{% url 'about'%}"><button type="button" class="button">About us</button></a>
            <div class="dropdown">
                <button class="button dropbtn">Security</button>
                <div class="dropdown-content">
                  <a  class="a-link" href="#">Event Security</a>
                  <a class="a-link" href="#">Personal Security</a>
                  <a class="a-link" href="#">Concierge Services</a>
                </div>
            </div>
            <a href="#"><button type="button" class="button">Property Management</button></a>
            <a href="{% url 'HireEquipment'%}"><button type="button" class="button">Hire Equipement</button></a>
           
            <a href="{% url 'contact'%}"><button type="button" class="button">Contact us</button></a>
            <a href="{% url 'BookJob'%}"><button type="button" class="button">Book a job</button></a>
              
        </div>
        <div class="container-lg">
            <div class="card">
                <div class="card-body">
                    
                  <h4 class="card-title">Card title</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            <section class="container content-section">
                <h2 class="section-header">Lawn Mowing Equipements</h2>
                <div class="shop-items">
                    <div class="shop-item">
                        <span class="shop-item-title">Item 1</span>
                        <img class="shop-item-image" src="Images/HireEquipment/ergonomic-shovel.jpg">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$12.99</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <span class="shop-item-title">Item 2</span>
                        <img class="shop-item-image" src="Images/HireEquipment/lawnmover1.jpeg">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$14.99</span>
                            <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <span class="shop-item-title">Item 3</span>
                        <img class="shop-item-image" src="Images/HireEquipment/lawnmower2.jpg">
                        <div class="shop-item-details">

                            <span class="shop-item-price">$9.99</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <span class="shop-item-title">Item 4</span>
                        <img class="shop-item-image" src="Images/Album 4.png">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$19.99</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container content-section">
                <h2 class="section-header">Farming machines & Equipements</h2>
                <div class="shop-items">
                    <div class="shop-item">
                        <span class="shop-item-title"></span>
                        <img class="shop-item-image" src="Images/Shirt.png">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$19.99</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <span class="shop-item-title"></span>
                        <img class="shop-item-image" src="Images/Cofee.png">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$6.99</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container content-section">
                <h2 class="section-header">CART</h2>
                <div class="cart-row">
                    <span class="cart-item cart-header cart-column">ITEM</span>
                    <span class="cart-price cart-header cart-column">PRICE</span>
                    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                </div>
                <div class="cart-items">
                </div>
                <div class="cart-total">
                    <strong class="cart-total-title">Total</strong>
                    <span class="cart-total-price">$0</span>
                </div>
                <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
            </section>
           
        </div>
        <footer>
            <div id="quicklinks">
                <h5 style="text-decoration: underline;">Quick Links<br></h5>
                <a>Security</a><br>
                <a>Security</a><br>
                <a>Security</a>
            
            </div>
            <div id="footer-right">
                &#169;2020 One Stop Shop
            </div>
        </footer>
        <!-- Icons made by 
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            <a href="https://www.flaticon.com/authors/prosymbols" title="Prosymbols">Prosymbols</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        -->
    </body>
</html>