<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link href="{% static 'Images/logo.png'%}" rel="icon" sizes="32x32" type="image/gif">
        <title>Kaipara Security Services Ltd.</title>
        <link href="{% static 'css/Style.css'%}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/Equipement.css'%}" rel="stylesheet" type="text/css">
        <script src="{% static 'JS/store.js' %}"></script>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>

        <script type="text/javascript">
            var user = '{{ request.user }}'

            function getToken(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                var csrftoken = getToken('csrftoken')
        </script>

    </head>
    <body>
        <div class="wrappers">
            <div class="four">
              <a href="{% url 'account:index' %}"><img src="{% static 'Images/logo.png'%}" style="height:250px;"></a>
            </div>
              <div class="five">
                <ul class="list">
                  <li class="email"><a  href="mailto:admin@kaipara.co.nz">admin@kaipara.co.nz</a></li></br>
                  <li class="phone"><a href="tel:+64 800 524 7272">+64 0800 524 7272</a></li>
                </ul>
            </div>
          </div>
            <div id="navbar">
              <a href="{% url 'account:About' %}"><button type="button" class="button">About us</button></a>
              <div class="dropdown">
                  <a href="{% url 'account:Security' %}"><button class="button dropbtn">Security</button></a>
                  <div class="dropdown-content">
                    <a  class="a-link" href="{% url 'account:About' %}">Event Security</a>
                    <a class="a-link" href="#">Personal Security</a>
                    <a class="a-link" href="#">Concierge Services</a>
                  </div>
              </div>
              <a href="#"><button type="button" class="button">Property Management</button></a>
              <a href="{% url 'account:HireEquipement'%}"><button type="button" class="button">Hire Equipement</button></a>
             
              <a href="{% url 'account:contact'%}"><button type="button" class="button">Contact us</button></a>
              <div class="dropdown">
                <button class="button dropbtn">Book a service</button>
                <div class="dropdown-content">
                  <a  class="a-link" href="{% url 'account:BookJob'%}">Security Job</a>
                  <a class="a-link" href="{% url 'account:PropertyMaintenance'%}">Property Management</a>
                </div>
            </div>
                <a href="#"><button type="button" class="button" style="float: right;margin-right:150px ;">Login</button></a>
          </div>

        <div class="container">
        <div class="row">
        <div class="col-lg-8">
            <h2 class="section-header">Lawn Mowing Equipements</h2>
            <section class="container content-section">
                <div class="cardss">

                    {% for equipment in products %}
                    <div class="shop-item">

                        <img class="shop-item-image" src="{{ equipment.pic.url }}">
                        <span class="shop-item-title">{{ equipment.name}}</span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">${{ equipment.price }}</span>
                            <button data-equipment="{{ equipment.id }}" data-action="add" class="btn btn-primary shop-item-button update-cart" type="button">ADD TO CART</button>
                        </div>
                    {% endfor %}
                    </div>

                </div>
            
            </section>
            <br>

        </div>
            <div class="col-lg-4">
            <section class="cart container content-section">
                <h2 class="section-header">Cart</h2>
                <div class="cart-row">
                    <span class="cart-item cart-header cart-column">ITEM</span>
                    <span class="cart-price cart-header cart-column">PRICE</span>
                    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                </div>

                {% for item in equipments %}
                <div class="cart-items">
                    <div class="cart-item cart-column">
                        <img class="cart-item-image" src="{{ item.equipment.pic.url }}" width="100" height="100">
                        <span class="cart-item-title">{{item.equipment.name}}</span>
                    </div>
                    <span class="cart-price cart-column">{{ item.equipment.price }}</span>
                    <div class="cart-quantity cart-column">
                        <input class="cart-quantity-input" type="number" value="1">
                        <button class="btn btn-danger" type="button">REMOVE</button>
                    </div>
                </div>
                {% endfor %}

                <div class="cart-total">
                    <strong class="cart-total-title">Total</strong>
                    <span class="cart-total-price">$0</span>
                </div>
                <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
            </section>
        </div>
        </div>
    </div>
    <footer class="wrapper" style="padding-left: 100px;margin-bottom:0">
          
        <div class="one">
          <h5 style="text-decoration: underline;color: white;">Quick Links<br></h5>
          
          <li><a href="{% url 'account:Security'%}" style="text-decoration: none;color: white;">Security</a></li>
          <li><a href="{% url 'account:HireEquipement' %}" style="text-decoration: none;color: white;">Hire Equipement</a></li>
          <li><a href="{% url 'account:BookJob' %}" style="text-decoration: none;color: white;">Book a job</a></li>
      
      </div>
     <div class="two">
       <h3 style="color: white;text-align: center;">You can download our app via Playstore!</h3>
       <img src="{% static 'Images/Google.png'%}" style="width: 200px;justify-content: center;"/>
     </div>
          <br>
      <div class="three">
          
          &#169;2020 Kaipara Security Services Ltd.
      
    </div>
 
  </footer>
  <!-- Icons made by 
    <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      <a href="https://www.flaticon.com/authors/prosymbols" title="Prosymbols">Prosymbols</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
      <a href='https://pngtree.com/so/team-icons'>team-icons png from pngtree.com</a>
      Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    -->
        <!-- Icons made by 
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            <a href="https://www.flaticon.com/authors/prosymbols" title="Prosymbols">Prosymbols</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        -->
    <script type="text/javascript" src="{% static 'js/car2t.js' %}"></script>
    </body>
</html>