<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <link href="{% static 'Images/logo.png'%}" rel="icon" sizes="32x32" type="image/gif">
      <title>Kaipara Security Services Ltd.</title>
      <link href="{% static 'css/Style.css'%}" rel="stylesheet" type="text/css">
        <link href="bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="bootstrap.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="wrappers">
        <div class="four">
          <a href="{% url 'account:index' %}"><img src="{% static 'Images/logo.png' %}" style="height:250px;"></a>
        </div>
          <div class="five">
            <ul class="list">
              <li class="email"><a  href="mailto:admin@kaipara.co.nz">admin@kaipara.co.nz</a></li></br>
              <li class="phone"><a href="tel:+64 800 524 7272">+64 0800 524 7272</a></li>
            </ul>
        </div>
      </div>
        <div id="navbar">
          <a href="{% url 'account:About' %}"><button type="button" class="button">About us</button></a>
          <div class="dropdown">
              <a href="{% url 'account:Security' %}"><button class="button dropbtn">Security</button></a>
              <div class="dropdown-content">
                <a  class="a-link" href="{% url 'account:About' %}">Event Security</a>
                <a class="a-link" href="#">Personal Security</a>
                <a class="a-link" href="#">Concierge Services</a>
              </div>
          </div>
          <a href="#"><button type="button" class="button">Property Management</button></a>
          <a href="{% url 'account:HireEquipement'%}"><button type="button" class="button">Hire Equipement</button></a>
         
          <a href="{% url 'account:contact'%}"><button type="button" class="button">Contact us</button></a>
          <div class="dropdown">
            <button class="button dropbtn">Book a service</button>
            <div class="dropdown-content">
              <a  class="a-link" href="{% url 'account:BookJob'%}">Security Job</a>
              <a class="a-link" href="{% url 'account:PropertyMaintenance'%}">Property Management</a>
            </div>
        </div>
            <a href="#"><button type="button" class="button" style="float: right;margin-right:150px ;">Login</button></a>
      </div>
        <div class="container-lg">
            <h3 class="heading">Book Property Maintenance Services</h3>
            <form>
              <fieldset>
                <div class="form-group row">
                  <label class="col-sm-2"for="exampleInputName">Full Name:</label>
                  <input type="text" class="form-control col-md-6 " id="exampleInputName" placeholder="Enter your full name">
                </div>
                <div class="form-group row">
                  <label class="col-sm-2"for="exampleInputEmail">Email:</label>
                  <input type="Email" class="form-control col-md-6" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter your e-mail">
                </div>
                <div class="form-group row">
                  <label class="col-sm-2" for="exampleInputAddress">Address:</label>
                  <textarea class="form-control col-md-6" id="exampleTextarea" rows="3" placeholder="Address"></textarea>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2" for="exampleInputPhone">Mobile Number:</label>
                  <input type="text" class="form-control col-md-6 " id="exampleInputName" placeholder="+64">
                </div>
                
                <form action="/action_page.php" class="row" style="padding-bottom: 50px;">
                  <label for="bookingdate" class="col-sm-2">Booking date:</label>
                  <input class="col-md-6" type="datetime-local" id="bookingdate" name="bookingdate">
                  <!--<input type="submit">-->
                </form><br>
                <div class="form-group row" style="padding: 50px;">
                  <label for="exampleSelect1" class="col-sm-2">Types of services:</label>
                  <select class="form-control col-md-6 " id="exampleSelect1">
                    <option>Mowing lawns</option>
                    <option>Pruning and maintaining trees and plants</option>
                    <option>House washing</option>
                    <option>Gutter Cleaning</option>
                    <option>Cleaning Chimney</option>
                    <option>Window Cleaning</option>
                    <option>Outside house paint work</option>
                    <option>Roof Work</option>
                  </select>
                </div>
                
                <div class="form-group">
                  <label for="exampleTextarea" class="col-sm-3">Additional Comments:</label>
                  <textarea class="form-control col-md-8" id="exampleTextarea" rows="3" placeholder="Comments" style=""></textarea>
                </div>
                
                <button type="submit" class="btn btn-primary" style="margin-bottom: 80px;">Submit</button>
              </fieldset>
            </form>
            

        </div>
        <footer class="wrapper" style="padding-left: 100px;margin-bottom:0">
          
          <div class="one">
            <h5 style="text-decoration: underline;color: white;">Quick Links<br></h5>
            
            <li><a href="{% url 'account:Security'%}" style="text-decoration: none;color: white;">Security</a></li>
            <li><a href="{% url 'account:HireEquipement' %}" style="text-decoration: none;color: white;">Hire Equipement</a></li>
            <li><a href="{% url 'account:BookJob' %}" style="text-decoration: none;color: white;">Book a job</a></li>
        
        </div>
       <div class="two">
         <h3 style="color: white;text-align: center;">You can download our app via Playstore!</h3>
         <img src="{% static 'Images/Google.png'%}" style="width: 200px;justify-content: center;"/>
       </div>
            <br>
        <div class="three">
            
            &#169;2020 Kaipara Security Services Ltd.
        
      </div>
   
    </footer>
    <!-- Icons made by 
      <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        <a href="https://www.flaticon.com/authors/prosymbols" title="Prosymbols">Prosymbols</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        <a href='https://pngtree.com/so/team-icons'>team-icons png from pngtree.com</a>
        Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
      -->
    <!-- Icons made by 
      <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        <a href="https://www.flaticon.com/authors/prosymbols" title="Prosymbols">Prosymbols</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        <a href='https://pngtree.com/so/team-icons'>team-icons png from pngtree.com</a>
        Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
      -->
        <!-- Icons made by 
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            <a href="https://www.flaticon.com/authors/prosymbols" title="Prosymbols">Prosymbols</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        -->
    </body>
</html>