<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

{#in here reverse relation, just find the fk back to the parent table#}
    {% for e in order %}
            {% for ss in e.equiementorder_set.all %}
                {{ ss }}
                {% for mn in ss.equipment.all %}
                    {{ mn }}
                    {% endfor %}
            {% endfor %}
{#            {% for dd in e.servicesorder_set.all %}#}
{#                {{ dd }}#}
{#            {% endfor %}#}
        <br>
    {% endfor %}
    <hr>
    <p>loop for request user order</p>
    {% for c in test %}

        {{ c.cus_order.cus_user.username }}

            {% for d in c.servicesorder_set.all %}
                {{ d }}
                price :{{d.service.price}}

            {% endfor %}

            {% for s in c.equiementorder_set.all %}

                {% for m in s.equipment.all %}
                    {{ m }}
                    {{ m.price }}
                    {% endfor %}
            {% endfor %}
        <br>
    {% endfor%}
    <hr>

    <p>loop for the equipment object name</p>
    {% for bb in eqo %}
            {% for mm in bb.order.cus_order.order_set.all %}
                {{ mm }}
                {% for jk in mm.feedbackcte_set.all %}
                    {{ jk }}
                    {% endfor %}
                {% endfor %}
        <p>stophere</p>


    {% endfor %}

    <hr>

    <p>loop for employee ,employee's accept order and show timesheet hour</p>

    {% for zz in em %}
        {{ zz }}

        <p>this is bad example code:{{ zz.order_set.all }}</p>
{#        this is from employee profile to order#}
{#in here if loop through a employee what order he has. it need to do the following step#}
        <p>order has :
            {% for i in zz.order_set.all %}
                {{ i }}
                <br>

                {% for n in i.equiementorder_set.all %}
                    {% for k in n.equipment.all %}
                        {{ k }}
                        {% endfor %}
                    {% endfor %}
            {% endfor %}
        </p>

        <p>Your work hour : {{ zz.timesheet.hour }}</p>
        <hr>
    {% endfor %}


{#    <p>Timesheet</p>#}
{##}
{#    {% for xx in time %}#}
{#        {{ xx.ti }}#}
{#        <br>#}
{#        {{ xx.to }}#}
{#        <br>#}
{#        {{ xx.hour }}#}
{#        <br>#}
{#    {% endfor %}#}
{##}
{#    <hr>#}

    {#        it can use the fk the track data back#}
{#        bb= equipment order, and then go back to order(cus_order is the fk of order),   #}
{#            {% for k in bb.order.equiementorder_set.all %}#}
{#                {{ k }}#}
{#                {% endfor %}#}
{##}
{#            {% for a in bb.equipment.all %}#}
{#                {{ a }}#}
{#            {% endfor %}#}
{#           <br>#}

    <p>List all order</p>
    {% for a in order %}
        <p>order id : {{ a }}</p>
    {% endfor %}
<hr>
     <p>List order - equieorder</p>
    {% for a in order %}
        {% for b in a.equiementorder_set.all %}

            <p>equipment order id : {{ b }}</p>
            {% endfor %}
    {% endfor %}
    <hr>
         <p>List order - serice order</p>
    {% for a in order %}
        {% for b in a.servicesorder_set.all %}

            <p>service order : {{ b }}</p>
            {% endfor %}
    {% endfor %}

    <hr>
    <p>list all customer orders between equipment and service order</p>
    {% for a in order %}
        {{a}}'s order |

        {% for b in a.equiementorder_set.all %}
           equipment order: {{ b }}, equipment hire:
            {% for k in b.equipment.all %}
                {{ k }}
                {% endfor %}
            {% endfor %}

        {% for n in a.servicesorder_set.all %}
           service order :{{ n }}
            {% endfor %}
        <br>
    {% endfor %}
    <p>list all employee order</p>
    <hr>
    {% for a in em %}
        {{ a.employee_user }}|
        has order for
        {% for n in a.order_set.all %}
            {{ n }}
            {% endfor %}
        <br>
    {% endfor %}


{% endblock content%}
</body>
</html>