<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for i in txt %}

    {% if i.isLast == False %}
        {{ i }}<br>
        {% if not i.timeIn %}
            Check In time: None<br>
        {% else %}
            Check In time: {{i.ti}}<br>
        {% endif %}

        {% if not i.timeOut %}
            Check Out time: None<br>
        {% else %}
            Check In time: {{i.to}}<br>
        {% endif %}

        <hr>
    {% endif %}


{% endfor %}



<a href="{% url 'account:timein'%}">check in</a>
<a href="{% url 'account:timeout'%}">check out</a>
<a href="{% url 'account:reset'%}">reset</a>

<br>

</body>
</html>