<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ request.user }} order</h1>
<h1>Hiring orders</h1>
{% for i in hiringorders %}
    {% if i.complete == True %}
        order : {{ i.id }}
        {% if i.assigned == True %}
                status : assigned
            {% elif i.assigned == False %}
                status : unassigned
            {% endif %}
        <br>
    {% endif %}
{% endfor %}


<h1>service orders</h1>
{% for i in orders %}
    <div>
        order : {{ i.id }}
        {% if i.assigned == False %}
            status : unassigned
        {% elif i.assigned == True and i.isDone == False %}
            status : assigned
            {% elif i.assigned == True and i.isDone == True %}
            status : Done
            <a href="{{ i.customer_feedback_url }}">feedback</a>
        {% endif %}
    </div>

{% endfor %}

{#<h1>For Hiring order(Assigned):</h1>#}
{#{% for i in hiringorders %}#}
{#    {% if i.complete == True and i.assigned == True %}#}
{#    Order ID: {{ i.id }}#}
{#    <br>#}
{#    {% for item in i.cartitem_set.all %}#}
{#        {{ item }} | number of item {{ item.quantity }}#}
{#        <br>#}
{#    {% endfor %}#}
{#        Order leash date :{{ i.leash_date }}<br>#}
{#        Order return date :{{ i.return_date }}<br>#}
{#    {% endif %}#}
{#{% endfor %}#}
{##}
{#<h1>For Hiring order(unassigned):</h1>#}
{#{% for i in hiringorders %}#}
{#    {% if i.complete == True and i.assigned == False %}#}
{#    Order ID: {{ i.id }}#}
{#    <br>#}
{#    {% for item in i.cartitem_set.all %}#}
{#        {{ item }} | number of item {{ item.quantity }}#}
{#        <br>#}
{#    {% endfor %}#}
{#        Order leash date :{{ i.leash_date }}<br>#}
{#        Order return date :{{ i.return_date }}<br>#}
{#    <hr>#}
{#    {% endif %}#}
{#{% endfor %}#}
{##}
{##}
{#<h1>For sercurity order(assigned):</h1>#}
{#{% for i in orders %}#}
{#    {% if i.complete == True and i.isService == True and i.assigned == True %}#}
{#    Order ID: {{ i.id }}#}
{#        <br>#}
{#    {% for job in i.securityorder_set.all %}#}
{##}
{#        {{ job }}#}
{#        <br>#}
{#        Job Required Date:{{ job.date_required }}#}
{#        <br>#}
{#    {% endfor %}#}
{#        <hr>#}
{#    {% endif %}#}
{#{% endfor %}#}
{##}
{#<h1>For sercurity order(unassigned):</h1>#}
{#{% for i in orders %}#}
{#    {% if i.complete == True and i.isService == True and i.assigned == False %}#}
{#    Order ID: {{ i.id }}#}
{#    {% for job in i.securityorder_set.all %}#}
{##}
{#        {{ job }}#}
{#        <br>#}
{#    {% endfor %}#}
{#        <hr>#}
{#    {% endif %}#}
{#{% endfor %}#}

</body>
</html>