<!doctype html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'Images/Logo11.png'%}" rel="icon" sizes="32x32" type="image/gif">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="{% static 'css/Profiles_style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Different Fonts ## refer to css file -->
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Kaipara Security Services Ltd.</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        setTimeout(function () {
            if($('.messages').length > 0){
                $('.messages').remove();
            }
        },5000)
    </script>
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top navbar-dark bg-dark">

    <a class="navbar-brand" href="{% url 'account:customerOrder'%}">
          <img src="{% static 'Images/Logo11.png' %}" width="110" height="110" class="d-inline-block align-top" alt="" loading="lazy">

        </a>

      <!--<a class="navbar-brand" href="#">Company Name</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'account:customerOrder'%}">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'account:customerPreOrder' %}">Previous Orders</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:customerprofile'%}">Manage Profile</a>
          </li>


        </ul>
         <span class="form-inline my-2 my-lg-0" style="color: #34987a;">
          <div> {% if request.user.is_authenticated %}
            Hello, {{ request.user }}
          </div>
       <a href="{% url 'account:logout' %}">
        <button class="btn btn-link my-2 my-sm-0" style="margin: 10px;">logout</button>
      </a>

              {% else %}
              <a href="{% url 'account:login' %}">
        <button class="btn btn-link my-2 my-sm-0" style="margin: 10px;">Login</button>
      </a>

          {% endif %}

      </span>
      </div>
    </nav>
   <div class="container">
   {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        <h1>{{ message }}</h1>
    </li>
    {% endfor %}
</ul>
{% endif %}
    <h2 style="padding: 30px 0px;">Service Order</h2>

       <table class="table table-hover">
    <thead>
      <tr>
        <th>Job Id</th>
        <th>Job Required</th>
          <th>Required date</th>
        <th>Job Status</th>
          <th>Staff</th>
        <th>Order date</th>
          <th>Pirce</th>
        <th>Payment</th>
      </tr>
    </thead>
    <tbody>
    {% for i in orders %}
        {% if i.isDone == False %}
            {% for a in i.propertyorder_set.all %}
                <tr>
            <td>{{ i.id }}</td>
            <td>{{ a.property_service }}</td>
                <td>{{i.server_date}}</td>
            <td>
                 {% if i.assigned == True %}
                    assigned
                {% elif i.assigned == False %}
                    unassigned
                {% endif %}
            </td>
                <td>{{ i.employee_order.employee_user.first_name }}</td>
          <td>{{ i.date_order }}</td>
                <td>{{ a.property_service.price }}</td>
            <td>
            {% if i.isPaid == False %}
                 <a href="{{ i.payserviceorder }}"> <button class="btn text-primary">Pay</button></a>
            {% else %}
                 Paid
            {% endif %}
            </td>
          </tr>
            {% endfor %}

            {% for b in i.securityorder_set.all %}
                <tr>
            <td>{{ i.id }}</td>
            <td>{{ b.security_service }}</td>
                <td>{{i.server_date}}</td>
            <td>
                 {% if i.assigned == True %}
                    assigned
                {% elif i.assigned == False %}
                    unassigned
                {% endif %}
            </td>
                <td>{{ i.employee_order.employee_user.first_name }}</td>
          <td>{{ i.date_order }}</td>
                <td>{{ b.security_service.price }}</td>
            <td>
            {% if i.isPaid == False %}
                 <a href="{{ i.payserviceorder }}"> <button class="btn text-primary">Pay</button></a>
            {% else %}
                 Paid
            {% endif %}
            </td>
          </tr>
            {% endfor %}
        {% endif %}
       {% endfor %}


          </tbody>
  </table>
    <h2 style="padding: 30px 0px;">Equipement delivery order</h2>
   <table class="table table-hover">
    <thead>
      <tr>
        <th>Job Id</th>
        <th>Equipment Lend</th>
        <th>Job Status</th>
        <th>Order date</th>
          <th>Return date</th>
          <th>Price</th>
        <th>Payment</th>
      </tr>
    </thead>
    <tbody>

{% for hiring in hiringorders %}
     {% if hiring.isDone == False  and hiring.complete == True and hiring.isDelivery == True %}
        <tr>

        <td>{{ hiring.id }}</td>
        <td>
            {% for i in hiring.cartitem_set.all %}
                {{ i.equipment }} X {{ i.quantity }}<br>

                {% endfor %}
        </td>
        <td>
             {% if hiring.assigned == True %}
                assigned
            {% elif hiring.assigned == False %}
                unassigned
            {% endif %}
        </td>
      <td>{{ hiring.date_order }}</td>
        <td>{{ hiring.return_date }}</td>
        <td>
            {{ hiring.get_cart_total }}
        </td>
        <td>
        {% if hiring.isPaid == False %}
             <a href="{{ hiring.payHiringorder }}"> <button class="btn text-primary">Pay</button></a>
        {% else %}
             Paid
        {% endif %}
        </td>
      </tr>
        {% endif %}
    {% endfor %}

          </tbody>
  </table>


   <h2 style="padding: 30px 0px;">Equipement pick order</h2>
   <table class="table table-hover">
    <thead>
      <tr>
        <th>Job Id</th>
        <th>Equipment Lend</th>
        <th>Order date</th>
          <th>Return date</th>
          <th>Price</th>
        <th>Payment</th>
      </tr>
    </thead>
    <tbody>

{% for hiring in hiringorders %}
     {% if hiring.complete == True and hiring.isPickup == True %}
        <tr>

        <td>{{ hiring.id }}</td>
        <td>
            {% for i in hiring.cartitem_set.all %}
                {{ i.equipment }} X {{ i.quantity }}<br>
                {% endfor %}
        </td>
      <td>{{ hiring.date_order }}</td>
        <td>{{ hiring.return_date }}</td>
        <td>
            {{ hiring.get_cart_total }}
        </td>
        <td>
        {% if hiring.isPaid == False %}
             <a href="{{ hiring.payHiringorder }}"> <button class="btn text-primary">Pay</button></a>
        {% else %}
             Paid
        {% endif %}
        </td>
      </tr>
        {% endif %}
    {% endfor %}

          </tbody>
  </table>
    </div>
  <footer class="footer bg-dark">
      <p>&#169;2020 Kaipara Security Services Ltd. | All Rights Reserved  </p>
  </footer>

</body>
</html>
